.text
  &-center
    text-align: center
  &-left
    text-align: left
  &-right
    text-align: right
  &-justify
    text-align: justify
  &-uppercase
    text-transform: uppercase
  &-lowercase
    text-transform: lowercase
  &-capitalize
    text-transform: capitalize
  &-underline
    text-decoration: underline
  &-italic
    font-style: italic
  &-ellipsis
    +text-ellipsis
  &-white
    color: $white
  &-bold
    font-weight: bold

.text-nowrap, .nowrap
  +nowrap

.special-character, .symbol
  font-family: $font-family-symbol
