// Reset box model. I'm using "compass/reset" but compass does not reset box model.
// I often forget about this and get a lot of bugs.
*
  +box-sizing(border-box)

\:focus
  outline: none

strong, b
  font-weight: bold

i, em, span[lang]
  font-style: italic

img
  line-height: 0

  // Scale images in IE7 more attractively
  @at-root .ie7 &, .lt-ie8 &
    -ms-interpolation-mode: bicubic

p
  margin-bottom: 1em

header, section, footer, hr
  +clear

del
  text-decoration: line-through

abbr[title], dfn[title]
  border-bottom: 1px dotted #000
  +cursor(help)

small
  font-size: 85%

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0
  font-size: 0
  line-height: 0
  +user-select(none)

h1, h2, h3, h4, h5, h6
  margin: ($headings-scale / 2) * 1em 0
  padding: 0
  line-height: 1.1
  font-style: normal
  font-weight: bold
  color: inherit
  font-family: inherit

h1
  font-size: pow($headings-scale, 4) * 1em
h2
  font-size: pow($headings-scale, 3) * 1em
h3
  font-size: pow($headings-scale, 2) * 1em
h4
  font-size: pow($headings-scale, 1) * 1em
h5
  font-size: pow($headings-scale, -1) * 1em
h6
  font-size: pow($headings-scale, -2) * 1em

// Standardize any monospaced elements
pre, code, kbd, samp
  +code

code, tt
  &:before, &:after
    letter-spacing: -0.2em
    content: '\00a0'

q, blockquote
  font-size: inherit
  font-style: italic
  color: inherit
  padding-left: 20px
  padding-right: 8px
  margin: 0
  border: 0
  border-left: 5px solid #ccc
