table
  border-collapse: collapse
  border-spacing: 0
  border: none
  empty-cells: show
  max-width: 100%
  text-align: left

tr
  +user-select(none)

td, th, img
  vertical-align: middle

td
  font-weight: inherit

th
  font-weight: bold