=paragraph
  +white-space(normal)
  +word-wrap(normal)
  +word-break(normal)
  line-break: auto

  // As of my investigations 'hyphens: auto' inserts hyphens too often.
  // hyphens: manual solved this issue for me.
  +hyphens(manual)

=program
  font-family: $font-family-monospace
  +white-space(pre)
  +white-space(pre-wrap)
  +word-wrap(break-word)
  +word-break(break-word)
  line-break: auto
  +hyphens(none)
  +tab-size(4)
  unicode-bidi: embed
  direction: ltr
